h10 {
    position: absolute;
    left: 60%;
    top: 240px;
}
h20{ 
    position: absolute;
    left: 40%;
    top: 240px;
}
h30 {
    position: absolute;
  left: 50%;
  top: 240px;
} 

h40 {
    position: absolute;
    left: 30%;
    top: 240px;
}